oic-gen3/cookbooks/erp-cloud/BulkExtract/files/erpcbkinterface-onjobcompletion.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions targetNamespace="http://oracle.com/erpintegration/" 
name="ERPCbkService" 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:wsp="http://www.w3.org/ns/ws-policy" 
xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
xmlns:tns="http://oracle.com/erpintegration/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
  <xsd:schema xmlns:ns0="http://oracle.com/erpintegration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://oracle.com/erpintegration/">
  <xsd:complexType name="onJobCompletionType">
    <xsd:sequence>
      <xsd:element name="requestId" type="xsd:int" minOccurs="0"/>
      <xsd:element name="state" type="xsd:string" minOccurs="0"/>
      <xsd:element name="resultMessage" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="onJobCompletion" type="ns0:onJobCompletionType"/>
</xsd:schema>
  </types>
  <message name="onJobCompletionMessage">
    <part name="parameters" element="tns:onJobCompletion"/>
  </message>
  <portType name="ERPCbkService">
    <operation name="onJobCompletion">
      <input wsam:Action="http://oracle.com/erpintegration/ERPCbkService/onJobCompletionRequest" message="tns:onJobCompletionMessage"/>
    </operation>
  </portType>
</definitions>